# Ignore ROS 2 build folders
build/
install/
log/
zdocuments_adri/
# Ignore hidden system/editor files
.vscode/
.DS_Store
*~
*.pyc
__pycache__/

# Project 5 assets not ready yet
src/agv_description/meshes/hei5_agv*
src/agv_description/urdf/hei5_agv*
src/agv_description/meshes/test_cube_clean.stl
